.counter-father{
    width: 100%;
    max-width: 100%;
    overflow: hidden;
}

.uploads-images{
    display: flex;
    width: 1000px;
    height: 800px  ;
    overflow: hidden;
    justify-content: center;
}



@media only screen and (max-width: 800px) {

    .uploads-images{
        display: flex;
        width: 100% auto;
        max-width: 100%;
        height: auto;
        overflow: hidden;
        justify-content: center;
    }
    
   
   }
 