
@media only screen and (max-width: 600px) {
    .counter-input{
        display: flex;
        justify-content:first baseline;
        position: relative;
        right: 2rem;
        
    }
}

.counter-input{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:first baseline;
    width: 100%;
    height: 100%;
    padding: 0 0 0 16px;
}

.container-input-answer{
    display: flex;
    width: 80%;
}

.btn-search{
    display: flex;
    border-radius: 40px;
    height: 2.8rem;
    width: 100%;
    padding: 0 16px;
    color: grey;
    border: none;
}

.btn-search:focus{
    outline: 4px rgba(50, 175, 220, 0.726) solid;
}

.btn-search:hover{
    background-color: rgba(90, 144, 238, 0.274);
}

.container-x-cancel{
    display: flex;
    position: relative;
    width: 47px;
    height: 47px;
    right: 2.6rem;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    bottom: 1px;
}

.container-x-cancel:hover{
    background-color: rgba(113, 140, 157, 0.302);
}

.btn-x-cancel{
    display: flex;
    width: 25px;
    height: 25px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
}

.container-answers{
    width: 65%;
    height: auto;
    max-height: 70%;
    background-color: white;
    position: fixed;
    top: 3.8rem;
    left: 20%;
    border-radius:15px ;
    padding: 10px 16px;
    overflow: hidden;
}

.list-tags-category-title{
    font-weight: bold;
    cursor: pointer;
}

.select-list{
    list-style: none;
    padding: 5px;
    cursor: pointer;
}

.select-list:hover{
    background-color: rgba(70, 206, 255, 0.237);
}