.container-form-image{
    position: fixed;
    width: 80%;
    height: 800px;
    right: 0;
    top: 10.2rem;
    background-color: white;
}

.container-data-form-img{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

.img-selected{
    display: flex;
    padding-top: 15px;
    position: relative;
    left: 5rem;

}

.image-select{
    max-width: 400px;
    max-height: 400px;
    width: auto;
    height: auto;
    border-radius: 25px;
}

.input-text-data{
    display: flex;
    position: relative;
    left: 6rem;
    top: 2rem;
    flex-direction: column;
    width: 600px;
    font-size: 12px;
}

.input-text{
    display: flex;
    position: relative;
    bottom: .8rem;
    border-radius: 15px;
    border: 2px solid rgba(76, 5, 76, 0.273);
    height: 2.5rem;
    margin: .3rem;
    padding-left:16px;
}

.input-text.description{
    display: flex;
    height: 5rem;
    text-align: start;
    font-size: 20px;
}

.input-text:hover{
    border: 2px solid rgba(121, 118, 118, 0.71);
}

.input-text:focus{
    outline:4px solid rgba(87, 176, 248, 0.99);
    border: none;
}
