.counter-create-button{
    display: flex;
    padding: 0 16px;
    height: 2.5rem;
    width: 7rem;
    justify-content: center;
    align-items: center;
}

.btn-create{
    display: flex;
    padding: 0;
    margin: 0;
    border: none;
    font-size: 20px;
    font-weight:600;
    cursor: pointer;
    border-radius: 40px;
    width: 5rem;
    height: 2.5rem;
    text-decoration: none;
    color: black;
    justify-content: center;
    align-items: center;
}

.btn-create:focus{
    background-color: black;
    color: white;
}