.counter-images{
    position: relative;
    top: 4.5rem;
    width: 98%;
    height: auto ;
    padding-bottom: 46px;
    margin: 1em;
}

.images{
    columns: 5 200px;
    margin-bottom: 5px;
}

.img-ramdom{
    max-width: 100%; 
    column-gap: 5rem;
    border-radius: 20px;
} 