.counter-images{
    display: flex;
    position: relative;
    top: 4.5rem;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 1rem;
}

.images{
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    width: 100%;
    height: auto;
}

.img-ramdom{
    display: flex;
    padding: 1rem;
}